{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background:rgba(20,170,85,0.5)">
    <div class="container"> 
    <br/>
    <br/>
    <p><strong>Mercyl</strong> es una empresa uruguaya que se especialza en la
    importacion de maquinaria pesada desde Europa a todo Uruguay. Para ello
    contamos con una amplia red de especialistas capaces de encontrar el mejor
    equipo, los mejores precios y la mejor oportunidad para nuestros clientes.
    </p>
  </div>
</div>

{% endblock %}
