{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron" style="background:rgba(20,170,85,0.5)">
  <div class="container">
   <div class="container marketing">
      <div class="row">
        <div class="col-md-4">
          <h2>Mercyl, S.A.</h2>
          <address>
           <p class="text-muted">
            Rincon 487 Apto 217 </br>
            Montevideo -  Uruguay</br>
            </p>
          </address>

          <h2>Para ver las maquinas</h2>
          <address>
          <p class="text-muted">
            Campo Mercyl, </br>
            Ruta 12, KM 330 paraje ortiz </br>
            Minas Lavalleja - Uruguay </br>
           </p>
          </address>
         <p class="text-info">
          <abbr title="Mobile">Mob.</abbr> +598 91 728 976  </br>
          <a href="mailto:ventas@mercyl.com">ventas@mercyl.com</a></br>
         </p>
        </div>
        <div class="col-md-8">
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6587.44177343898!2d-55.375806!3d-34.357581!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbe!4v1428905742781" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>
     </div>
    </div><!-- /.container -->
  </div>
</div>
{% endblock %}
